/* ComingSoon.css */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
  }
  
  .coming-soon-container {
    background-image: url('https://custom-images.strikinglycdn.com/res/hrscywv4p/image/upload/c_limit,fl_lossy,h_9000,w_1200,f_auto,q_auto/8103728/281606_865095.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;  /* Fixes the background in place */
    height: 100vh;  /* Full height viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .coming-soon-content {
    background-color: rgba(0, 0, 0, 0.6);  /* Transparent black background */
    color: white;
    padding: 30px;
    border-radius: 10px;
  }
  
  .coming-soon-content h1 {
    font-size: 3em;
    margin: 0;
  }
  
  .coming-soon-content p {
    font-size: 1.5em;
    margin-top: 20px;
  }
  